<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Honors and Awards</h3>
        </div><!--//upper-row-->
    </div><!--//meta-->
    <div>
    <p>GE Crotonville invitation for Persuasive Leadership Skills (upcoming - March 2020)</p>   	
    <p>Aviation Digital Recognition (1 of ~50 in all of GE) (2018)</p>
    <p>Graduate of GE Crotonville Leadership Development Course (2015)</p>
    <p>Executive Equity Award (2015)</p>
    <p>Numerous (~10) internal GE "Over and Above" recognitions (2013 to present)</p>
    </div>
</div>