<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p style="text-align:justify">I am a PhD physicist who has become a data scientist. Problem solving and analytics software development for large scale deployment are at the core of my skillset. Given my academic and industrial experience, my domain expertise is diverse, including but not limited to Aviation, Agriculture, Transportation, Power Generation, Oil and Gas and Manufacturing.</p>
</div><!--//summary-->
</section><!--//section-->