 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD Physics</h4>
    <h5 class="meta">University of California at Davis</h5>
    <div class="time">2004 - 2008</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc Physics</h4>
    <h5 class="meta">University of California at Davis</h5>
    <div class="time">2000 - 2004</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc Physics</h4>
    <h5 class="meta">University of North Florida</h5>
    <div class="time">1996 - 2000</div>
</div><!--//item-->
</div><!--//education-container-->