<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Staff Data Scientist</h3>
                            <div class="time">11-2016 to Present</div>
                        </div><!--//upper-row-->
                        <div class="company">General Electric Digital, San Ramon, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">As a Senior Staff Data Scientist, I focus on analytics development.  During this period I have developed 3 solutions to problems in 4 industrial domains, shipping port crane failure prediction (1 month), passenger train door failure risk ranking, risk of pneumonia ranking for beef cattle (4 months) and root cause analysis of hypoxic pilots in FA-18 Navy fighter jets (6 months).  Junior staff mentoring is an additional duty.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intermin Manager of Data Science Services Team</h3>
                            <div class="time">02-2016 to 11-2016</div>
                        </div><!--//upper-row-->
                        <div class="company">General Electric Digital, San Ramon, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">Due to an unexpected and sudden departure of leadership I was offered the opportunity to lead my colleagues in an acting capacity until a replacement could be recruited. I led the vision and strategy for team success as well as organized data science project execution and employee career trajectories for a team of 18. Working with different groups within the company (cyber security and finance) I was able to provide Amazon Web Service access to our team for project execution for the first time.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staff Data Scientist</h3>
                            <div class="time">06-2013 to 02-2016</div>
                        </div><!--//upper-row-->
                        <div class="company">General Electric Digital, San Ramon, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">Semi supervised learning for classification of known failures, Aviation unsupervised anomaly detection, domain adaptation (MMDE and Tradaboost) for new product introduction, Concept drift, Manufacturing, Chemical Industry, Liquid Natural Gas.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral Scientist</h3>
                            <div class="time">07-2009 to 08-2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Lawrence Livermore National Laboratory (LLNL), Livermore, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">My postdoctoral appointment allowed me to both lead and participate in 5 projects as a physicist using world class x-ray sources (LCLS at Stanford, DESY in Hamburg and OMEGA in New York). The applications of the work were diverse and included, materials science (carbon degradation limits), astrophysics (development of a stellar temperature diagnostic), fundamental atomic physics (extremely short pulsed x-ray induced secondary lasing), high energy density physics, biological (Mark X).  This work resulted in numerous peer reviewed journal articles (e.g. two in Nature and one in Physical Review Letters).</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visiting Graduate Student / Research Assistant</h3>
                            <div class="time">12-2005 to 12-2008</div>
                        </div><!--//upper-row-->
                        <div class="company">MIT Plasma Science and Fusion Center, Cambridge, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">PhD project details</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visiting Graduate Student / Research Assistant </h3>
                            <div class="time">12-2002 - 12-2005</div>
                        </div><!--//upper-row-->
                        <div class="company">Lawrence Livermore National Laboratory (LLNL), Livermore, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">Atomic and astrophysics at EBIT.</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->