<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Publications</h3>
        </div><!--//upper-row-->
    </div><!--//meta-->
    <div>
    <p>(In preparation) Operator health proxy using adapted fatigue measures</p>
    <p><a href="https://www.google.com/patents/US20170284896">A Framework for Unsupervised Anomaly Detection on Industrial Time Series Data (US 15/474,563)</a></p>
    <p>(Submitted) Transfer Learning for Aviation Damage Models</p>
    </div>
</div>