<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Patents</h3>
        </div><!--//upper-row-->
    </div><!--//meta-->
    <div>
    <p>(Submitted) Operator Health Proxy using Adapted Fatigue Measures</p>
    <p><a href="https://www.google.com/patents/US20170284896">A Framework for Unsupervised Anomaly Detection on Industrial Time Series Data (US 15/474,563)</a></p>
    <p><a href="https://patents.google.com/patent/US20170300605A1/en">Creating predictive damage models by transductive transfer learning  (US20170300605A1)</a></p>
    </div>
</div>