<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">References</h3>
        </div><!--//upper-row-->
    </div><!--//meta-->
    <div>
    	<p><a href="https://web.stanford.edu/~hastie/Papers/ESLII.pdf">T. Hastie, R. Tibshirani and J. Friedman, “Elements of Statistical Learning Ed. 2”, Springer, 2009</a></p>
    	<p><a href="http://www.jmlr.org/papers/volume3/blei03a/blei03a.pdf">D. Blei, A. Ng and M. Jordan, "Latent Dirichlet Allocation", (2013)</a></p>
    	<p><a href="https://radimrehurek.com/gensim/">The Gensim Package</a></p>
    	<p><a href="https://arxiv.org/pdf/1602.04938v1.pdf">M. T. Ribeiro, S. Singh and C. Guestrin, "Why Should I Trust You? Explaining the Predictions of Any Classifier"</a></p>
    	<p><a href="https://ocs.aaai.org/Papers/AAAI/2008/AAAI08-108.pdf">S. Pan, J. Kwok and Q. Yang, "Transfer Learning via Dimensionality Reduction", (2008)</a></p>
    	<p><a href="http://www.machinelearning.org/proceedings/icml2007/papers/72.pdf">W. Dai, Q. Gang, G. Xu and Y. Yu, "Boosting for Transfer Learning", (2007)</a></p>	
    	<p><a href="http://www.vldb.org/pvldb/vol9/p192-huang.pdf">H. Huang and S. P. Kasiviswanathan, "Streaming Anomaly Detection Using Randomized Matrix Sketching", (2015)</a></p>
    	<p><a href="http://mlg.eng.cam.ac.uk/pub/pdf/GoeRas10.pdf">D. G&oumlr&uumlr and C. E. Rasmussen, "Dirichlet Process Gaussian Mixture Models: Choice of the Base Distribution", (2010)</a></p>
    	<p><a href="https://cs.nju.edu.cn/zhouzh/zhouzh.files/publication/icdm08b.pdf">F. T. Liu, K. M. Ting and Z. Zhou, "Isolation Forest", (2008)</a></p>
    	<p><a href="http://www-bcf.usc.edu/~liu32/icdm2012.pdf">H. Qiu, Y. Liu, N. Subrahmanya and W. Li, "Granger Causality for Time Series Anomaly Detection", (2012)</a></p>
        <p><a href="https://github.com/cvxgrp/GGS">Greedy Gaussian Segmentation</a> Github for Stanford CVX Group - Greedy Gaussian Segmentation</p>
        <p><a href="https://arxiv.org/abs/1709.09018">Autoencoder by Forest</a>, Ji Feng and Zhi-Hua Zhou, AAAI, 2018</p>
    	<p><a href="http://www.cs.ucr.edu/~eamonn/SAX.pdf">J. Lin, E. Keogh, S. Lonardi and B. Chiu, "A Symbolic Representation of Time Series with Implications for Streaming Algorithms", (2003)</a></p>
    	<p><a href="https://arxiv.org/pdf/1310.4546.pdf">T. Mikolov, I. Sutskever, K. Chen, G. Corrado and J. Dean, "Distributed Representations ofWords and Phrases and thier Compositionality", (2013) (</a></p>
    	<p><a href="https://nlp.stanford.edu/pubs/glove.pdf">J. Pennington, R. Socher and C. Manning, "GloVe: Global Vectors for Word Representation" (2014)</a></p>	
    </div>
</div>